.sectionLeft {
  float: left;
  width: 80%;
  padding-top: 6%;
}
.sectionRight {
  float: right;
  width: 20%;
  padding-top: 6%;
}

body {
  background-image: url("../Resources/bckgrndimg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.scoreContainer {
  background-color: rgb(238, 238, 238);
  opacity: 70%;
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}


h1 {
  text-align: center;
}

.clickerContainer img {
  position: relative;
  transition: all .2s ease-in-out;
}

.clickerContainer img:hover { transform: scale(1.10);}
.clickerContainer img:active { transform: scale(0.99);}


.sectionFooter {
  margin-top: 20%;
}