.shopButtons {
  background-color: #b5b5b5;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  width: 100%;
  margin: 10px 0 10px 0;
}

.shopButtons:hover {
  background-color: #c7c7c7;
  transition: all .2s ease-in-out;

}

.shopButtons #cursorImage {
  width: 25%;
}

.shopButtons img {
  height: 64px;
  width: 64px;
}

.shopButtons #cursorNameAndCost p {
  margin: 0;
  width: 60%;
}

.shopButtons #cursorNameAndCost p:first-of-type {
  font-size: 24px;
}

.shopButtons #grandmaNameAndCost p {
  margin: 0;
  width: 60%;
}

.shopButtons #grandmaNameAndCost p:first-of-type {
  font-size: 24px;
}

.shopButtons #ovenNameAndCost p {
  margin: 0;
  width: 60%;
}

.shopButtons #ovenNameAndCost p:first-of-type {
  font-size: 24px;
}

.shopButtons #cursorAmount {
  font-size: 48px;
  color: #595959;
  width: 15%;
}

.shopButtons #grandmasAmount {
  font-size: 48px;
  color: #595959;
  width: 15%;
}

.shopButtons #ovensAmount {
  font-size: 48px;
  color: #595959;
  width: 15%;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}